.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 200px;
    border: 1px solid #202945;
    border-radius: 10px;
    background-color: #152028;
    color: white;
}

.card:hover {
    border: 1px solid greenyellow;
}

.button {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin: 15px 15px 0px 0px;
    border: 5px solid orangered;
    border-radius: 20px;
    cursor: pointer;
    background-color: orangered;
    color: #152028;
    font-size: 10pt;
    font-weight: 900;
}

.button:hover {
    border: 2px solid orangered;
    background-color: #152028;
    color: orangered;
    font-weight: 300;
}

.name {
    align-self: center;
    width: fit-content;
    margin-bottom: 15px;
    filter: brightness(180%);
    color: #202945;
    font-size: 20pt;
    font-weight: 600;
    text-decoration: none;
}

.name:hover {
    filter: brightness(100%);
    color: greenyellow;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container .temperature {
    margin: 5px;
    list-style-type: none;
}

.container .temperature li {
    margin-bottom: 15px;
}

.container .img {
    position: relative;
    bottom: 10px;
}
