.nav {
    position: relative;
    display: flex;
    align-items: center;
    height: 75px;
    background-color: #152028;
}

.icon {
    width: 44px;
    height: 44px;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 40px;
    filter: invert(1);
}

.weather {
    margin-left: 30px;
    filter: brightness(210%);
    color: #202945;
    font-size: 16pt;
    font-weight: 600;
    text-decoration: none;
}

.weather:hover {
    filter: brightness(100%);
    color: greenyellow;
}

.about {
    margin-top: 5px;
    margin-left: 30px;
    filter: brightness(210%);
    color: #202945;
    font-weight: 600;
    text-decoration: none;
}

.about:hover {
    filter: brightness(100%);
    color: greenyellow;
}
