.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 75px;
    margin-left: auto;
    border-radius: 10px;
    background-color: #152028;
}

.button {
    height: 40px;
    margin: 5px;
    border: 2px solid #202945;
    border-radius: 10px;
    cursor: pointer;
    background-color: #202945;
    color: white;
    font-size: 12pt;
}

.button:hover {
    filter: brightness(140%);
}

.input {
    width: 220px;
    height: 15px;
    margin: 5px;
    padding: 10px;
    border: 2px solid #202945;
    border-radius: 20px;
    background-color: #202945;
    color: white;
    font-size: 12pt;
}

.input:hover {
    background-color: #152028;
}
